/* Base styles */
#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* App Container */
.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Globe Container */
.globe-container {
  width: 100%;
  height: 100%;
}

/* Countdown Container */
.countdown-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 90%;
  max-width: 600px;
}

.countdown-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.countdown-time {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .countdown-container {
    top: 20%;
  }

  .countdown-title {
    font-size: 1.2rem;
  }

  .countdown-time {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .countdown-container {
    top: 15%;
  }

  .countdown-title {
    font-size: 1rem;
  }

  .countdown-time {
    font-size: 0.9rem;
  }
}
